{% extends 'base.html' %}

{% block header %}
    <div class="p-3 mb-4 border rounded-3">
        <div class="container-fluid py-4">
            <h1 class="display-3">Track your learning.</h1>

            <p class="lead">Make your own Learning Log, and keep a list of the
                topics you're learning about. Whenever you learn something new
                about a topic, make an entry summarizing what you've learned and share with others.</p>

            <a class="btn btn-primary btn-lg mt-1"
               href="{% url 'logs:topics' %}">Explore &raquo;</a>
        </div>
    </div>
{% endblock header %}