{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block header %}
    <h2>Cryptocurrency Market Overview:</h2>
{% endblock header %}

{% block content %}
    <div class="container-lg">
        <table class="table">
            <tr>
                {% for k in data.keys %}
                    <td>{{ k }}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for v in data.values %}
                    <td>{{ v }}</td>
                {% endfor %}
            </tr>
        </table>
        {{ fig|safe }}
    </div>
{% endblock content %}