{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block header %}
    <h2>Topics:</h2>
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="{% url 'logs:new_topic' %}">
            <button class="btn btn-outline-primary my-2" name="submit">Add a new topic</button>
        </form>
    {% endif %}
    <ul class="list-group">
        {% for topic in topics %}
            <li class="list-group-item">
                <a href="{% url 'logs:topic' topic.id %}">{{ topic.text }}</a>
                <p>Added by <a href="{% url 'accounts:profile' topic.owner.id %}">{{ topic.owner.username }}</a>
                    on {{ topic.date_added|date:'M d, Y H:i' }}</p>
            </li>
        {% empty %}
            <li class="list-group-item">No topics found</li>
        {% endfor %}
    </ul>
{% endblock content %}