<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Visualizer</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link rel="stylesheet" href=
            "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="https://cdn.plot.ly/plotly-2.34.0.min.js" charset="utf-8"></script>
</head>

<body>
<nav class="navbar navbar-expand-md mb-4 border">
    <div class="container-fluid">
        <a class="navbar-brand border rounded-5 px-2" href="{% url 'core:index' %}">
            Crypto Visualizer
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Left side of navbar -->
            <ul class="navbar-nav me-auto gap-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:overview' %}">
                        Overview
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:prices' %}">
                        Prices
                    </a>
                </li>
                <li class="nav-item">
                    <div class="input-group border rounded-2">
                        <input type="text" id="searchBox" placeholder="Search..." aria-label="Search"
                               class="form-control border-0">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary border-0" id="search">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- Right side of navbar -->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0 gap-1">
                <li class="nav-item">
                    <button id="theme" class="btn border-0">
                        <i class="bi bi-circle-half"></i>
                    </button>
                </li>
            </ul>
        </div>

    </div>
</nav>

<main class="container">
    <div class="pb-2 mb-2 border-bottom">
        {% block header %}{% endblock header %}
    </div>

    <div>
        {% block content %}{% endblock content %}
    </div>
</main>

<script>
    // On page load, check localStorage for theme preference
    document.addEventListener('DOMContentLoaded', function () {
        const storedTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-bs-theme', storedTheme)
    });

    // Toggle theme on button click and save preference to localStorage
    document.getElementById('theme').addEventListener('click', function () {
        const currentTheme = document.documentElement.getAttribute('data-bs-theme');
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
        document.documentElement.setAttribute('data-bs-theme', newTheme)
        localStorage.setItem('theme', newTheme);
    });

    // search action
    const url = window.location.protocol + '//' + window.location.host + '/search/###/';
    document.getElementById('search').addEventListener('click', function () {
        const query = document.getElementById('searchBox').value;
        if (query != null && query.length > 0) {
            window.location = url.replace("###", query);
        }
    });
</script>

</body>
</html> 
